.table-fixed{
    width: 100%;
    background-color: #f3f3f3;
    tbody{
        height:200px;
        overflow-y:auto;
        width: 100%;
    }
    thead,tbody,tr,td,th{
        display:block;
    }
    tbody{
        td{
            float:left;
        }
    }
    thead {
        tr{
            th{
                float:left;
                background-color: #f39c12;
                border-color:#e67e22;
            }
        }
    }
}

.apagar {
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    border: solid;
    border-radius: 8px;
    
}
.editar {
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    border: solid;
    border-radius: 8px;
}



.form-control:focus {
    box-shadow: none;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    box-shadow: none
}

.profile-button:active {
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 17px
}

.add-experience:hover {
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}